# SESSION 1
## Introduction to Pandas

[replit](https://repl.it)

### DataFrames

#### loading data

In [3]:
weights = [12, 16, 20, 24, 28, 32]
sets = [1, 2, 3, 4, 5, 6]

import pandas as pd

In [4]:
df = pd.DataFrame([weights, sets])

In [5]:
df

    0   1   2   3   4   5
0  12  16  20  24  28  32
1   1   2   3   4   5   6

Test out the notes ideas here

- try this
and more

- sfdsdsd

In [6]:
df.head(1)

    0   1   2   3   4   5
0  12  16  20  24  28  32

Here we see `.head()`