<a href="https://colab.research.google.com/github/ptcane/grading/blob/master/notebooks/simplenb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 44

In [ ]:
z = 23
a = 3

In [ ]:
print(x + z + a)

67

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({"member":['dave', 'alan'], 'age': [23, 65]})

In [4]:
df

  member  age
0   dave   23
1   alan   65