## Circles

Here's a normal markdown cell.

Try and see what `print()` does:

In [1]:
print('sdafdasf sdfsdafsd sdafsdafsd')

sdafdasf sdfsdafsd sdafsdafsd

In [2]:
x = 44
y = 55
x + y

99

In [3]:
%%html
<svg width="500" height="150">
    <circle cx="50" cy="40" r="40" fill="PaleGreen"/>
    <circle cx="100" cy="40" r="40" fill="SpringGreen"/>
    <circle cx="150" cy="40" r="40" fill="MediumSeaGreen"/>
    <circle cx="250" cy="80" r="40" fill="LightSkyBlue"/>
    <circle cx="200" cy="80" r="40" fill="DodgerBlue"/>
</svg>

normal md text

```python
my_var = 45 + 32
#comment within inline bit
```
more normal markdown text

> blockquote thindsknfsafsdf


!!! info
    asdfasdfdasfsdafasdfasdf

In [4]:
2 + 2

4

inline code in md cell with python after dashes and then code block indented:
```python
    import time as t
    dd = 'the best'
```

followed by a blockquote:

> try this out

followed by an indented blockquote:

    > more of the same

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('lightings.csv')

In [7]:
df.head()

       Date  Timestamp_Down  Timestamp_Up Friendly_Down Friendly_Up
0  20180101      1514792100    1514823840         07:35       16:24
1  20180102      1514878500    1514910300         07:35       16:25
2  20180103      1514964900    1514996760         07:35       16:26
3  20180104      1515051300    1515083220         07:35       16:27
4  20180105      1515137700    1515169680         07:35       16:28